h1 {
	margin: 0;
}

.box {
	box-sizing: border-box;

	/* TESTING SPECIFIC ONLY; PLS REMOVE*/
	border: 1px solid black;
	min-height: 75px;

}

.box--float-left {
	float: left;
}

.box--float-right {
	float: right;
}

.clearfix:after {
	content: "";
	display: block;
	clear: both;
}